<div class="row">
  <div class="col">
    <h3>Listado de Clientes</h3>
  </div>
  <div class="col">
    <a class="btn btn-success" routerLink="create"> Agregar Cliente</a>
  </div>
</div>


<table mat-table [dataSource]="clients" class="col">
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="bornDate">
      <th mat-header-cell *matHeaderCellDef> Fec. Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.bornDate | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="deathDate">
      <th mat-header-cell *matHeaderCellDef> Fec. Probable Deceso </th>
      <td mat-cell *matCellDef="let element"> {{element.deathDate | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> Detalle </th>
      <td mat-cell *matCellDef="let element">
        <a mat-raised-button [routerLink]="['analysis']" [queryParams]="element">Detalle</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
