<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">WebApp Challenge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">An&aacute;lisis</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <app-summary-client [clients]="clients"></app-summary-client>
</div>

<div class="container">
  <app-list-client [clients]="clients"></app-list-client>
</div>
<div class="container">
  <app-create-client></app-create-client>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-mutated">Powered By Sleyter Sandoval</span>
  </div>
</footer>
