<div class="row mb-2">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title pb-2 text-center">Promedio de Edad</h5>
            <p class="text-center">
              <span class="border border-primary rounded-circle p-3 number-dash">
                35.2
              </span>
            </p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title pb-2 text-center">Desviaci&oacute;n Estandar</h5>
          <p class="text-center">
            <span class="border border-primary rounded-circle p-3 number-dash">35.2</span>
          </p>
        </div>
      </div>
    </div>
</div>

