<div class="row mb-2">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title pb-2 text-center">Promedio de Edad</h5>
            <p class="text-center">
              <span class="border border-primary rounded-circle p-3 number-dash">
                {{mean.toFixed(2)}}
              </span>
            </p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title pb-2 text-center">Desviaci&oacute;n Est&aacute;ndar</h5>
          <p class="text-center">
            <span class="border border-primary rounded-circle p-3 number-dash">
              {{std.toFixed(2)}}
            </span>
          </p>
        </div>
      </div>
    </div>
</div>

